$alb:aliceblue;
$negru:black;
$albastru:  #95cbdd;
$navTransparent: #0009;
$rosu:#e74c3c;
$gri: rgba(136, 134, 134, 0.6);
$txtCentru: center;
$min800: 800px;
 $turcoaz: #45a7a7;
// $turcoaz: #0dbc79;
 $font:'Open Sans', sans serif;
